    <div class="manual-container">
        <div class="manual-container-row">
            <div class="align-text-center">
                <span class="manual-header">Manual</span>
            </div>
        </div>
        <div class="manual-container-row">
            <div class="align-text-center">
                <span class="manual-text">1) Enter the course name. You can write full course name or you can just write short name of the course like "CSCI 152". Then click "Add" button.</span>
                <div class="img-container">
                    <img class="fit-img" src="~/img/add_course.png"/>
                </div>
                <span>2) After you should see that your course was added to the list of courses. Click to the button "Calculate Gpa" if you are ready to calculate your GPA. It is highly recommeded to have information about the course beforehand. If you made a mistake or wrote coursename incorrect, you can delete it by clicking to "Delete".</span>
                <div class="img-container">
                    <img class="fit-img" src="~/img/course_list.png" />
                </div>
                <span>3) Once you clicked "Calculate GPA" button, you should see the form. At this point find information about exam weights in your course. For example, the following picture was taken from CSCI 152 course website.</span>
                <div class="img-container">
                    <img class="fit-img" src="~/img/exam_weights_example.png" />
                </div>
                <span>4) Add necessary exams, quizzes, and assignments. Enter exam weights.</span>
                <div class="img-container">
                    <img class="fit-img" src="~/img/exam_weights.png" />
                </div>
                <span>As you can see it is possible to delete and get some information about exam by clicking icons. Finally click button "Next".</span>

            </div>
        </div>
    </div>